In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize  
#from google.colab import drive
import datetime
#drive.mount('/content/gdrive/',force_remount = True)

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

In [3]:
df = pd.read_csv("merged.csv")

In [4]:
df.tail()

,Unnamed: 0,windspeedKmph_A,DewPointC_A,cloudcover_A,precipMM_A,pressure_A,WindGustKmph_A,visibility_A,tempC_A,WindChillC_A,...,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,round_Dtime,round_Atime,A_date
1780885,4980150,2,11,79,0.0,1020,4,10,11,11,...,1931.0,11.0,0.0,2253,2258.0,5.0,0.0,1900,2300,2017-12-31
1780886,4980151,2,11,79,0.0,1020,4,10,11,11,...,2055.0,90.0,1.0,2326,16.0,50.0,1.0,1900,2300,2017-12-31
1780887,4980152,2,11,79,0.0,1020,4,10,11,11,...,1948.0,0.0,0.0,2322,2309.0,0.0,0.0,2000,2300,2017-12-31
1780888,4980153,2,11,79,0.0,1020,4,10,11,11,...,2139.0,0.0,0.0,2254,2243.0,0.0,0.0,2200,2300,2017-12-31
1780889,4980154,2,11,79,0.0,1020,4,10,11,11,...,2049.0,0.0,0.0,2313,2250.0,0.0,0.0,2100,2300,2017-12-31

In [5]:
# Categorical boolean mask
categorical_feature_mask = df.dtypes==object# filter categorical columns using mask and turn it into a list
categorical_cols = df.columns[categorical_feature_mask].tolist()

# import labelencoder
from sklearn.preprocessing import LabelEncoder# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
df[categorical_cols].head(10)

   date_A  airport_A  date_D  airport_D  FlightDate  Origin  Dest  A_date
0       0          0       0          2           0       2     0       1
1       0          0       0          3           0       3     0       1
2       0          0       0          4           0       4     0       1
3       0          0       0         14           0      14     0       1
4       0          0       0          2           0       2     0       1
5       0          0       0          2           0       2     0       1
6       0          0       0          2           0       2     0       0
7       0          0       0          7           0       7     0       1
8       0          0       0          8           0       8     0       1
9       0          0       0          8           0       8     0       1

In [6]:
import matplotlib.pyplot as plt
df.hist(column='ArrDel15')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f1c4ab67310>]],
      dtype=object)

In [7]:
y = np.array(df['ArrDel15'])
df = df.drop(['Unnamed: 0','ArrDel15','ArrTime','ArrDelayMinutes','CRSArrTime','round_Atime','round_Dtime', 'DepTime','date_A','airport_A','airport_D','itime_A','itime_D','date_D'],axis=1)
X = np.array(df)

In [8]:
df.columns

Index(['windspeedKmph_A', 'DewPointC_A', 'cloudcover_A', 'precipMM_A',
       'pressure_A', 'WindGustKmph_A', 'visibility_A', 'tempC_A',
       'WindChillC_A', 'winddirDegree_A', 'humidity_A', 'windspeedKmph_D',
       'DewPointC_D', 'cloudcover_D', 'precipMM_D', 'pressure_D',
       'WindGustKmph_D', 'visibility_D', 'tempC_D', 'WindChillC_D',
       'winddirDegree_D', 'humidity_D', 'Year', 'Quarter', 'Month',
       'DayofMonth', 'FlightDate', 'Origin', 'Dest', 'CRSDepTime',
       'DepDelayMinutes', 'DepDel15', 'A_date'],
      dtype='object')

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [10]:
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
# all parameters not specified are set to their defaults
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print(classification_report(y_test, predictions))

/home/rishi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              precision    recall  f1-score   support

         0.0       0.92      0.98      0.95    281959
         1.0       0.89      0.68      0.77     74219

    accuracy                           0.92    356178
   macro avg       0.91      0.83      0.86    356178
weighted avg       0.92      0.92      0.91    356178

In [11]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, predictions)
print(cm)

[[275732   6227]
 [ 23444  50775]]

In [12]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.92      0.91      0.92    281959
         1.0       0.69      0.71      0.70     74219

    accuracy                           0.87    356178
   macro avg       0.80      0.81      0.81    356178
weighted avg       0.87      0.87      0.87    356178

In [13]:
from sklearn.ensemble import ExtraTreesClassifier

clf = ExtraTreesClassifier(n_estimators=100, random_state=0)
clf = clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.94      0.95      0.94    281959
         1.0       0.80      0.75      0.77     74219

    accuracy                           0.91    356178
   macro avg       0.87      0.85      0.86    356178
weighted avg       0.91      0.91      0.91    356178

In [14]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier()
clf = clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.92      0.98      0.95    281959
         1.0       0.89      0.69      0.78     74219

    accuracy                           0.92    356178
   macro avg       0.91      0.83      0.86    356178
weighted avg       0.92      0.92      0.91    356178