In [0]:
import pandas as pd
import json
from pandas.io.json import json_normalize  
from google.colab import drive
import datetime
drive.mount('/content/gdrive/',force_remount = True)

Mounted at /content/gdrive/

In [0]:
def roundtime(time):
  if((time%100)<30):
    return time - (time%100)
  else:
    return time + (100 - (time%100))

def arrivaldate(atime,dtime,date):
  if(atime<dtime):
    date += datetime.timedelta(days=1)
    sdate = date.strftime('%Y-%m-%d')
    return sdate
  else:
    return date.strftime('%Y-%m-%d')

In [0]:
#"gdrive/My Drive/Colab Notebooks/weather/ATL/2016-1.json"
weatherdir = "gdrive/My Drive/Colab Notebooks/weather/"
airports = ['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

w_df = pd.DataFrame()

for x in airports:
  for i in range(2016,2018):
    for j in range(1,13):
      dir = weatherdir + x + '/' + str(i) + '-' + str(j) + ".json"
      with open(dir, 'r') as f:
        d = json.load(f)

      temp = json_normalize(d['data']['weather'],  'hourly', 'date')
      temp['airport'] = x

      w_df = pd.concat([w_df, temp],ignore_index=True)

w_df['itime'] = w_df.time.astype('int64')
w_df = w_df.drop(['time','weatherIconUrl','FeelsLikeF','winddir16Point','FeelsLikeC','windspeedMiles','DewPointF','HeatIndexF','HeatIndexC','weatherIconUrl','WindGustMiles','weatherDesc','weatherCode','tempF','WindChillF'],axis=1)

In [0]:

w_df.to_csv("weatherdf.csv")
!cp weatherdf.csv "gdrive/My Drive/Colab Notebooks/"
#files.download('weatherdf.csv')

In [0]:
#gdrive/My Drive/Colab Notebooks/flight/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv
flightdir = 'gdrive/My Drive/Colab Notebooks/flight/'

f_df = pd.DataFrame()

for i in range(2016,2018):
  for j in range(1,13):
    dir = flightdir + str(i) + '/' + 'On_Time_On_Time_Performance_' + str(i) + '_' + str(j) + '/' + 'On_Time_On_Time_Performance_' + str(i) + '_' + str(j) + '.csv'
    temp = pd.read_csv(dir)
    f_df = pd.concat([f_df, temp],ignore_index=True)

f_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Year  Quarter  Month  ...  Div5WheelsOff  Div5TailNum Unnamed: 109
0  2016        1      1  ...            NaN          NaN          NaN
1  2016        1      1  ...            NaN          NaN          NaN
2  2016        1      1  ...            NaN          NaN          NaN
3  2016        1      1  ...            NaN          NaN          NaN
4  2016        1      1  ...            NaN          NaN          NaN

[5 rows x 110 columns]

In [0]:
f_df.drop(f_df.columns.difference(['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','Origin','Dest','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']), 1, inplace=True)
f_df['round_Dtime'] = f_df.apply(lambda x: roundtime(x['CRSDepTime']),axis=1)
f_df['round_Atime'] = f_df.apply(lambda x: roundtime(x['CRSArrTime']),axis=1)
f_df['A_date'] = f_df.apply(lambda x: arrivaldate(x['CRSArrTime'],x['CRSDepTime'],datetime.datetime.strptime(x['FlightDate'], '%Y-%m-%d')),axis=1)

f_df.head()

   Year  Quarter  Month  ...  round_Dtime round_Atime      A_date
0  2016        1      1  ...         1100        1500  2016-01-06
1  2016        1      1  ...         1100        1500  2016-01-07
2  2016        1      1  ...         1100        1500  2016-01-08
3  2016        1      1  ...         1100        1500  2016-01-09
4  2016        1      1  ...         1100        1500  2016-01-10

[5 rows x 18 columns]

In [0]:
f_df['A_date'] = f_df.apply(lambda x: arrivaldate(x['CRSArrTime'],x['CRSDepTime'],datetime.datetime.strptime(x['FlightDate'], '%Y-%m-%d')),axis=1)

f_df.head()

   Year  Quarter  Month  ...  round_Dtime round_Atime      A_date
0  2016        1      1  ...         1100        1500  2016-01-06
1  2016        1      1  ...         1100        1500  2016-01-07
2  2016        1      1  ...         1100        1500  2016-01-08
3  2016        1      1  ...         1100        1500  2016-01-09
4  2016        1      1  ...         1100        1500  2016-01-10

[5 rows x 18 columns]

In [0]:
#f_df.to_csv('flightdf.csv')
#from google.colab import files
#files.download('flightdf.csv')

f_df.to_csv("flightdf.csv")
!cp flightdf.csv "gdrive/My Drive/Colab Notebooks/"

In [0]:
merged = pd.merge(w_df, f_df,left_on = ['airport','itime','date'], right_on = ['Origin','round_Dtime','FlightDate'],how='right')

In [0]:
merged = pd.merge(w_df, merged,left_on = ['airport','itime','date'], right_on = ['Dest','round_Atime','FlightDate'],how='right',suffixes=('_A','_D'))
merged.head()

  windspeedKmph_A DewPointC_A  ... round_Atime      A_date
0              11           8  ...           0  2016-01-02
1              11           8  ...           0  2016-01-02
2              11           8  ...           0  2016-01-02
3              11           8  ...           0  2016-01-02
4              13           7  ...         100  2016-01-02

[5 rows x 46 columns]

In [0]:
merged = merged.dropna(axis = 0, how ='any')

In [0]:
merged.to_csv("merged.csv")
!cp merged.csv "gdrive/My Drive/Colab Notebooks/"

In [0]:
merged.shape

(1780890, 46)